h1{
  color:red;
}
h2{
  color:#679AF2;
}
body{
  text-align:center;
}
img{
  height:450px;
}
h4{
  color:#EA665C;
}
h5{
  color:#8A89E8;
}
h6{
 color:#F45D37; 
}
h7{
  color:#FF5420;
}
h8{
  color:#FF8822;
}
h9{
  color:#9A8DD4;
}
h10{
  color:#7893AF;
}
h11{
  color:#F6B86F;
}
h12{
  color:#EB5F4A;
}
h13{
  color:#5DC1E4;
}
h14{
color:#F9AD69;  
}
h15{
 color:#679AF2; 
}
h16{
  color:#FFD636;
}
h17{
  color:#49C144;
}
h18{
  color:#D71820;
}
h19{
  color:#F39EC4;
}
h20{
  color:#95D59D;
}
h21{
  color:#FB9C7C;
}
h22{
  color:#8F9AA5;
}
h29{
  color:#20C9CA;
}
h24{
  color:#87478A;
}
h25{
  color:#F08346;
}
h26{
  color:#FC608E;
}
h27{
  color:#FCDBCC;
}
h28{
  color:#BFE0EC;
}